<html>
<head>
  <style>
    .diagramIframe {
      width: 100vw;
      height: 100vh;
      position: absolute;
      left: 0;
      top: 0;
      border: 0;
    }
  </style>
  <script>
    window.SAVE_URL = '{f:uri.action(action: "save")}';
    window.DIAGRAM_CONTENTS = {diagram -> f:format.json() -> f:format.raw()};
    window.DIAGRAM_NODE = {diagramNode -> f:format.json() -> f:format.raw()};
    window.DRAWIO_CONFIGURATION = {drawioConfiguration -> f:format.json() -> f:format.raw()};
  </script>
  <script src="../../../Public/mainFrame.js"></script>
</head>
<!--<iframe src="https://embed.diagrams.net/?embed=1&configure=1&proto=json&ui=simple&lockdown=1&stealth=1&offline=1" class="diagramIframe" id="diagramIframe"></iframe>-->
<iframe src="{drawioEmbedUrlWithParameters}" class="diagramIframe" id="diagramIframe"></iframe>
</html>
